@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 1px solid;

    .container {
        display: flex;
        width: 90vw;

        .panel {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 80vh;
            border-radius: 50px;
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
            color: #fff;
            cursor: pointer;
            flex: 0.5;
            margin: 10px;
            transition: flex 0.7s ease-in;

            > h3 {
                position: absolute;
                left: 20px;
                bottom: 20px;
                font-size: 24px;
                letter-spacing: 2px;
                margin: 0;
                opacity: 0;
            }

            &.active {
                flex: 5;

                > h3 {
                    opacity: 1;
                    text-shadow: 2px 2px 3px #000;
                    transition: opacity 0.3s;
                }
            }
        }
    }
}

@media(max-width: 770px) {
    .container {
        max-width: 100%;

        .panel {
            &.active {
                > h3 {
                    font-size: 18px;
                }
            }
        }

        #zoldyck-killua {
            background-image: url('../images/zoldyck-killua.jpg')!important;
        }

        #satoru-gojo {
            background-image: url('../images/satoru-gojo.jpg') !important;
        }

        #hatake-kakashi {
            background-image: url('../images/hatake-kakashi.jpg') !important;
        }

        #shouto-todoroki {
            background-image: url('../images/shouto-todoroki.jpg') !important;
        }
    }
}

@media(max-width: 424px) {
    .container {
        .panel {
            &.active {
                > h3 {
                    font-size: 12px;
                }
            }
        }
    }
}